@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?2kd2t7');
	src:url('../fonts/icomoon.eot?2kd2t7#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?2kd2t7') format('truetype'),
		url('../fonts/icomoon.woff?2kd2t7') format('woff'),
		url('../fonts/icomoon.svg?2kd2t7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
	content: "\e900";
}
.icon-cabinet:before {
	content: "\e901";
}
.icon-download:before {
	content: "\e902";
}
.icon-view_comfortable:before {
	content: "\e903";
}
.icon-file-text:before {
	content: "\e904";
}
.icon-archive:before {
	content: "\e905";
}
.icon-envelope:before {
	content: "\e906";
}
.icon-print:before {
	content: "\e907";
}
.icon-area-chart:before {
	content: "\e908";
}
.icon-bar-chart:before {
	content: "\e909";
}
.icon-pie-chart:before {
	content: "\e90a";
}
.icon-files:before {
	content: "\e90b";
}
.icon-download2:before {
	content: "\e90c";
}
.icon-table:before {
	content: "\e90d";
}
.icon-table2:before {
	content: "\e90e";
}
.icon-stats-dots:before {
	content: "\e90f";
}
.icon-pie-chart2:before {
	content: "\e910";
}
.icon-profile2:before {
	content: "\e911";
}
.icon-user:before {
	content: "\e912";
}
