/* Boilerplate 0.0.0
 * http://url.com
 * Copyright 2015 Kyle Langford
 * MIT License */

// Color
$blue: #427ba6;
$dark-grey: #545454;
$grey: #cccccc;
$light-grey: #e5e5e5;
$error-red: #F4585F;
$success-green: #00B233;
$green: #92d051;

// Screen Sizes
$desktop-max: em(1088);
$large-screen: em(860);
$medium-screen: em(680);
$small-screen: em(540);

// Fonts
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $font-stack;
  font-size: 16px;
  color:$dark-grey;
  min-width: 320px;
}

// Misc
* {
  @include transition(width .25s ease-in-out);
  &:after, &:before {
    @include transition(width .25s ease-in-out);
  }
}
.gradient {
  background: rgba(251,251,251,1);
  background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(238,238,238,1)));
  background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 100%);
  background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 100%);
}

// Layout
.row {
  @include outer-container;
  padding:0 2em;
  @include media($desktop-max) {
    padding:0;
  }
}

// Header
header {
  @extend .gradient;
}

// Content
.content {
  background:$light-grey;
  padding:2em 0;
}
.main-content {
  @include span-columns(12);

  @include media($small-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($large-screen) {
    @include span-columns(6);
    @include shift(3);
  }
}

// Footer
.footer {
  background:$dark-grey;
  text-align:center;
  @include media($large-screen) {
    text-align:right;
  }
  .copyright {
    @include span-columns(12);
    color:white;
    padding-right:2em;
    font-size:.8em;
    font-weight: 100;
    margin:1.25em 0;
    text-transform: uppercase;
  }
}


//
// Navigation
//
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: $dark-grey;
  $navigation-color-hover: $dark-grey;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-active-link-color: transparentize(white, 0.5);
  $horizontal-bar-mode: $large-screen;

  background-color:#fbfbfb;
  border-top: 10px solid $dark-grey;
  border-bottom: 1px solid white;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
    width: 100%;
    padding:0 2em;
    display: table;
    @include media($desktop-max) {
      padding:0;
    }
    .nav {
      display: table-cell;
      @include media(max-width $horizontal-bar-mode) {
        display: none;
      }
    }
  }

  .nav {
    display: block;
    &.show {
      .nav-link {
        text-align: center;
        a {
          color:white;
          display: block;
          border-bottom: 1px solid tint($blue, 90%);
        }
        &:last-child {
          a {
            border:none;
          }
        }
      }
    }
  }

  .logo {
    text-align: left;
    img {
      padding: 0.8em 0;
    }
  }

  // Mobile view
  .navigation-menu-button {
    color: white;
    font-weight: bold;
    display: block;
    float: right;
    line-height: 40px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $blue;
    padding: .25em 1.25em;

    @include media ($horizontal-bar-mode) {
      display: none;
    }
    &:hover {
      color: white;
      background-color: shade($blue, 20%);
    }
  }

  // Nav menu
  nav {
    @include media ($horizontal-bar-mode) {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }
  .menu-btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    @include media ($horizontal-bar-mode) {
      display: none;
    }
  }

  .navigation-menu {
    // Full Nav
    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items
  ul {
    @include media (max-width $horizontal-bar-mode) {
      margin: 0;
      padding: 0;
    }
  }
  ul li.nav-link {
    background: tint($blue, 50%);
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999;
    padding:0 2em;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
      padding-right:.25em;
      &:last-child {
        padding-right:0;
      }

    }

    a {
      color: $navigation-color;
      font-weight: 600;
      font-size: .875em;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:last-child {
        padding-right:0;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
        text-decoration: underline;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

}

//
// Progress Bar
//
.progress-bar {
  $base-spacing: 1.5em !default;
  $breadcrumb-height: $base-spacing * 1.5;
  margin-left: 28px;
  a {
    background-color: $grey;
    border-left: 0;
    color: $dark-grey;
    cursor:default;
    display: inline-block;
    font-size: 0.8em;
    line-height: $breadcrumb-height;
    margin-right: -5px;
    padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
    position: relative;
    text-decoration: none;
    text-align: center;
    width:16.667%;
    &.active {
      color:$blue;
      background-color: white;
      &.val {
        color:$blue;
        background-color: white;
        &:after {
          border-left-color:white;
        }
        &:first-child {
          &:before {
            background-color: white;
          }
        }
        &:last-child {
          &:after {
            background-color: white;
          }
        }
      }
      &:first-child {
        &:before {
          background-color: white;
        }
      }
      &:last-child {
        &:after {
          background-color: white;
        }
      }
      &:after {
        background-color:transparent;
        border-left-color:white;
      }
      &:hover {
        $color:shade(white, 5%);
        background-color:$color;
        &:after {
          border-left-color:$color;
        }
        &:first-child {
          &:before {
            background-color:$color;
          }
        }
        &:last-child {
          &:after {
            background-color:$color;
          }
        }
      }
    }
    &.val {
      $color:tint($blue, 50%);
      color: white;
      background-color:$color;
      &:after {
        border-left-color:$color;
      }
      &:first-child {
        &:before {
          background-color:$color;
        }
      }
      &:last-child {
        &:after {
          background-color:$color;
        }
      }
    }
    &:after {
      border-color:white;
      border-bottom: $breadcrumb-height / 2 solid transparent;
      border-left: $breadcrumb-height / 4 solid transparent;
      border-top: $breadcrumb-height / 2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      position: absolute;
      right:-6px;
      top:0;
      border-left-color: $grey;
      z-index: 2;
    }
    &:first-child {
      padding-left:0px;
      @include calc(width, "16.667% - 14px");
      &:before {
        background-color:$grey;
        border-radius:50%;
        content: '';
        display: block;
        width:28px;
        height:28px;
        position: absolute;
        top:0;
        left:-14px;
      }
    }
    &:last-child {
      padding-right:0;
      @include calc(width, "16.667% - 14px");
      &:after {
        background-color:$grey;
        border-radius:50%;
        content: '';
        display: block;
        width:28px;
        height:28px;
        position: absolute;
        top:0;
        right:-14px;
      }
    }
  }
}

//
// Custom Form Fields
//
form {
  padding:0 1em;
}
fieldset {
  border: none;
  margin:0;
  padding:0;
  &.hide {
    display: none;
  }
}
.form-row {
  @include outer-container;
}

// Headings
h2.title {
  color:$blue;
  font-size: 30px;
  text-transform: uppercase;
  font-weight:600;
  text-align: center;
}
h3.section {
  font-size: 14px;
  font-weight: 100;
  color:$dark-grey;
}

// Input Styling
.input {
	z-index: 1;
  margin-top:.5em;
  margin-bottom:1em;
  position: relative;
  @include span-columns(12);
  &.segmented {
    @include span-columns(4);
    @include omega(3n);
  }
  .stretch & {
    &.segmented {
      @include span-columns(6);
      @include omega(2n);
    }
  }
  &.hide {
    display:none !important;
  }
}
.input-field {
	position: relative;
	display: block;
	padding: 0.8em;
	width: 100%;
	border: none;
	border-radius: 0;
  border-top:2px solid tint($blue, 50%);
	background: white;
	font-weight: 400;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  color: inherit;

  &.error {
    color: $error-red;
  }
  &.valid {
    color:$success-green;
    &:focus {
      color:$success-green;
    }
  }
  &:focus {
    color:$dark-grey;
  }
}
.input-field:focus {
	outline: none;
}
.input-label, .column-heading {
	display: inline-block;
	width: 100%;
	color: $dark-grey;
	font-weight: bold;
  font-size:.875em;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input-label-content {
	position: relative;
	display: block;
  padding-bottom: .4em;
  width: 100%;
}
.input-date {
  display: block;
  height: 34px;
  position: absolute;
  pointer-events: none;
  border-left: 2px solid tint($blue, 50%);
  background-color:white;
  right: 0;
  top: 28px;
  padding: 5px 15px;
  color: $blue;
}

// Custom Radio Button
input[type=radio] {
  // display: none;
}
.radio-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  margin-right: 15px;
  &.custom {
    padding-left: 25px;
    &:before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border-radius: 50%;
      background: white;
      border:2px solid tint($blue, 50%);
    }
  }
}

input[type=radio]:checked + .radio-label:before {
  background: $blue;
}

// Custom Select Elements
.select-container {
  position: relative;
  width:100%;
}
.select-arrow {
  display: block;
  height: 34px;
  position: absolute;
  pointer-events: none;
  border-left: 2px solid tint($blue, 50%);
  background-color:white;
  right: 0;
  top: 6px;
  padding: 10px 15px;
  color: $blue;
}
@-moz-document url-prefix() {
  .select-arrow {
    display: none;
  }
}

// Submit Buttons
.btn-container {
  text-align: center;
  @include span-columns(12);
}
.btn {
  background: $blue;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px shade($blue, 40%);
  border: none;
  border-radius: 5px;
  padding: 1.05em 3.1em .9em 3.1em;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px shade($grey, 30%);
  letter-spacing: 1px;
  font-size:.85em;
  font-weight: 400;
  position: relative;
  &:hover {
    background:tint($blue, 20%);
    cursor: pointer;
  }
  &.next {
    padding: 1.05em 2.7em .9em 3.1em;
  }
  &.next.results, &.next.login  {
    padding: 1.05em 3.1em .9em 3.1em;
  }
  &.prev {
    padding: 1.05em 3.1em .9em 2.7em;
  }
  &.disabled {
    background: $grey;
    box-shadow: 0 5px tint($dark-grey, 30%);
  }

  // Theme White
  &.white {
    background: white;
    color: $blue;
    text-shadow: none;
    text-decoration: none;
    &:hover {
      background:tint($blue, 90%);
      cursor: pointer;
    }
  }
  // Toolbar Buttons
  .report-toolbar & {
    text-transform: capitalize;
    padding: .35em 1.5em;
    letter-spacing: normal;
    @include media(max-width 480px) {
      padding: .35em 1em;
    }
  }
}

// Error Messaging
label.error {
  display: inline-block;
  font-size:14px;
  color:$error-red;
  margin:.5em 0;
}

// Modal Window
.modal {
  background-color:rgba(25,25,25,.9);
  position:absolute;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  z-index:9999;
  display:table;
  &.hide {
    display: none;
  }
  .container {
    display:table-cell;
    vertical-align: middle;
    .close {
      color:white;
    }
    .message {
      background-color:rgba(76,76,76,.7);
      border:4px solid rgba(125,125,125,.9);
      padding:3em;
      text-align:center;
      @include span-columns(10);
      @include shift(1);
      @include media($large-screen) {
        @include span-columns(6);
        @include shift(3);
      }
      p {
        color:white;
        font-size:26px;
        font-style: italic;
      }
    }
  }
}

// Utility Buttons
.utility {
  display: inline-block;
  text-align: center;
  line-height: 1;
  width: 100%;
  padding:.5em 1em;
  border: 1px solid $grey;
}

// Date Picker
.ui-datepicker-calendar {
  background: white;
  border-collapse: collapse;
  border:1px solid $grey;
}
.ui-datepicker-calendar thead {
  background: tint($blue, 30%);
}
.ui-datepicker-calendar th {
  color:white;
  padding:6px;
}
.ui-datepicker-calendar td {
  padding:8px;
  text-align: center;
}
.ui-datepicker-calendar td:hover {
  background: tint($blue, 30%);
  cursor: pointer;
}
.ui-datepicker-calendar td a {
  color:black;
  font-size:12px;
}
.ui-datepicker-calendar td:hover a {
  color: white;
}
.ui-datepicker-title {
  color:white;
  font-size: 14px;
  padding:10px;
  text-transform: uppercase;
  text-align: center;
  width: auto;
}
.ui-datepicker-header {
  background: $blue;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  color:white;
  height:36px;
  position:absolute;
  padding:2%;
  text-align: center;
  width:39px;
  z-index: 99999;
}
.ui-datepicker-prev span {
  background: url(../images/arrow-white-prev.png) no-repeat 50% 50%;
  border-right:1px solid white;
  left:0px;
  text-indent: -9999em;
}
.ui-datepicker-next span {
  background: url(../images/arrow-white-next.png) no-repeat 50% 50%;
  border-left:1px solid white;
  right:0px;
  text-indent: -9999em;
}

//
// Tabs
//
ul.tabs{
  background-color:tint($blue, 50%);
  list-style: none;
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  // tab-link
  li {
    background: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 1.5em 1em;

    margin: 0;
    float: left;
    @include media($small-screen) {
      padding: 1.5em 2em;
    }
    &.current{
      color:$blue;
      background: white;
      border-right:1px solid tint($blue, 50%);

    }
    &:hover {
      color:$dark-grey;
      background-color: white;
    }
    &:not(.current) {
      border-right:1px solid white;
    }
  }
}

.tab-content{
  background-color:white;
  float:left;
  width:100%;
  display: none;
  padding:2em;
  min-height: 1100px;
  &.current{
    display: inherit;
  }
}

//
// Results Page
//

// customer information
.customer-information {
  @include span-columns(12);
  margin-bottom: 2em;
  @include media($medium-screen) {
    @include span-columns(6);
    margin-bottom: 0;
  }
}
// account information
.account-information {
  @include span-columns(12);
  @include media($medium-screen) {
    @include span-columns(6);
  }
}
// Historical Savings Analysis
.historical-savings-analysis {
  @include span-columns(12);
  margin-bottom: 3em;
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}
// Historical Savings Summary
.historical-savings-summary {
  @include span-columns(12);
  margin-bottom: 3em;
  @include media($large-screen) {
    @include span-columns(6 of 12);
  }
}
// Savings Detail Graph
.savings-detail-graph {
  @include span-columns(12);
  & > div {
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    margin-top: 2em;
    margin-bottom: 2em;

    @include media(min-width $large-screen) {
      border-right: 1px solid #cdcdcd;
    }

  }
}
// Savings Detail Table
.savings-detail-table {
  @include span-columns(12);
}

// Section Titles
.result-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .0125em;
  color: $dark-grey;
  margin-top:0;
  margin-bottom:2em;
  .savings-detail-graph & {
    margin-bottom:0;
  }
  span {
    &:before  {
      padding-right:10px;
      color:$blue;
      font-size: 22px;
      top: 3px;
      position: relative;
    }

    &.icon-profile:before {
      top: 4px;
      font-size: 24px;
    }
  }

}

// Tabbed Section
.tab-container {
  background-color:tint($blue, 90%);
  padding-top: 2em;
  padding-bottom: 2em;
  @include media(max-width $medium-screen) {
    padding: 0;
    border-top: 4px solid tint($blue, 80%);
  }
  .row {
    margin-top:2em;
    margin-bottom:2em;
    padding: 0 2em;
    @include media($desktop-max) {
      padding: 0;
    }
    @include media(max-width $medium-screen) {
      padding: 0;
      margin-top:0;
    }
  }
  @include clearfix;
}
.inner {
  @include outer-container;
}

// Report Toolbar
.report-toolbar {
  background-color: $blue;

  .title-left {
    @include span-columns(12);
    @include media($medium-screen) {
      @include span-columns(4 of 12);
    }
  }
  .tools {
    @include span-columns(12);
    @include media($medium-screen) {
      @include span-columns(8 of 12);
    }
  }
  .tools {
    padding: 11px 0;
    @include media($medium-screen) {
      text-align: right;
      padding: 11px 0 11px 11px;
    }

    a {
      text-align: center;
      span {
        margin-right:6px;
      }
      &:not(:last-child) {
        margin-right:.5em;
      }
    }
  }
  .title-left {
    h1 {
      color:white;
      font-size: 20px;
      font-weight:400;
      letter-spacing: 1px;
    }
  }
}

// customer / account container
.info-block {
  margin-top: 2em;
  margin-bottom: 4em;
  .content {
    background-color:tint($blue, 90%);
    padding:2em;
    min-height: 350px;
  }
  ul {
    margin:0;
    padding-left:0;
    li {
      list-style: none;
      margin-bottom:10px;
      font-size: 14px;
      color:$dark-grey;
    }
  }
  hr {
    margin:2em 0;
    height:1px;
    background-color: #cdcdcd;
    border:none;
  }
}

//
// Table Styling
//
table.results-theme {

  $cell-padding:1.5em .5em;

  font-size: 12px;
  width: 100%;
  text-align: center;
  tr {
    border-bottom:1px solid white;
    // Align Left Heading to the Right
    &:not(:first-child){
      th {
        text-align: right;
        border-right:none;
        min-width:169px;
      }
    }
    // Row Striping
    &:nth-child(2n+1) {
      background-color:tint($blue, 90%);
    }
  }
  // Table Headings
  th {
    background-color:tint($blue, 50%);
    border-right:1px solid white;
    color:white;
    font-weight: 400;
    padding:$cell-padding;
  }
  // Cells
  td {
    padding:$cell-padding;
  }
}

// Responsive Tables
@include media(max-width $large-screen) {
  table.responsive {
    margin-bottom: 0;
  }
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 166px;
    overflow: hidden;
  }
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }
  .pinned table.results-theme tr th {
    text-align: left;
  }
  .pinned table th,
  .pinned table td {
    white-space: nowrap;
  }
  .pinned td:last-child {
    border-bottom: 0;
  }
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;
  }
  div.table-wrapper div.scrollable {
    margin-left: 166px;
  }
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }
  table.responsive td,
  table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  table.responsive th:first-child,
  table.responsive td:first-child,
  table.responsive td:first-child,
  table.responsive.pinned td {
    display: none;
  }
}

// Historical Savings
.historical-savings-analysis {
  tr {
    &:first-child {
      th:first-child {
        background-color: white;
      }
      th:last-child {
        background-color: $green;
        border-top:1px solid $green;
        border-right:1px solid $green;
      }
    }
    &:last-child {
      td:last-child {
        background-color: tint($green, 90%);
        border-bottom:1px solid $green;
      }
    }
    td:last-child {
      border-left:1px solid $green;
      border-right:1px solid $green;
    }
  }
}

// Estimated Savings Summary
.historical-savings-summary {
  tr {
    th:not(:first-child ) {
      background-color: $green;
    }
    td:not(:first-child ) {
      border-bottom:1px solid $green;
      border-left:1px solid $green;
      border-right:1px solid $green;
    }
  }
}

// Savings Detail Table
.savings-detail-table {
  tr{
    &:first-child {
      th:first-child {
        background-color: white;
      }
    }
    &:last-child {
      border-top:1px solid $green;
      border-bottom:1px solid $green;
      th {
        border-top:1px solid white;
        background-color: $green;
      }
      td {
        background-color: tint($green, 90%);
        &:last-child{
          border-right:1px solid $green;
        }
      }
    }
    &:nth-last-child(2) {
      border-bottom:1px solid $green;
    }
  }
}
